/*alert-box*/
.alert-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  z-index: 20;
}
.alert-box:hover {
  z-index: 20;
}
.alert-box .line {
  position: absolute;
  width: 50px;
  height: 2px;
  transform-origin: top left;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.alert-box .box {
  padding: 0.093rem /* 5/54 */;
  position: absolute;
  width: 5.556rem /* 300/54 */;
  background-image: url("../img/bg_alert_box.png");
  background-position: center center;
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.alert-box .box .box-content {
  padding: 0.37rem /* 20/54 */;
  border: 1px solid #2bfee7;
}
.alert-box .box .btn-close {
  padding: 0.185rem /* 10/54 */;
  color: #fff;
  font-size: 0.296rem /* 16/54 */;
  position: absolute;
  top: 0.185rem /* 10/54 */;
  right: 0.185rem /* 10/54 */;
  cursor: pointer;
}
.alert-box .box .icon-img {
  margin-right: 0.185rem /* 10/54 */;
  width: 0.741rem /* 40/54 */;
}
.alert-box .box .name {
  font-size: 0.556rem /* 30/54 */;
  text-shadow: 0 0 0.093rem /* 5/54 */ #2bfee7;
  color: #fff;
}
.alert-box .box .alert-info {
  padding-bottom: 0.556rem /* 30/54 */;
  border-bottom: 1px dotted #2bfee7;
}
.alert-box .box .alert-info:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.alert-box .box .p {
  margin-top: 0.37rem /* 20/54 */;
  font-size: 0.296rem /* 16/54 */;
  color: #fff;
  line-height: 1.5;
}
.alert-box .box .link {
  margin-top: 0.37rem /* 20/54 */;
  width: 3.333rem /* 180/54 */;
  height: 0.63rem /* 34/54 */;
  font-size: 0.296rem /* 16/54 */;
  background: url("../../../images/btn_bg.png") center no-repeat;
  background-size: 100% 100%;
  color: #fff;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert-box.purple-box .line {
  background: #8714ff;
}
.alert-box.purple-box .box {
  background: rgba(135, 20, 255, 0.6);
}
.alert-box.yellow-box .line {
  background: #ffff15;
}
.alert-box.yellow-box .box {
  background: rgba(255, 255, 21, 0.6);
}
.alert-box.yellow-box .box .box-title {
  color: #333;
}
.alert-box.blue-box .line {
  background: #33b8f3;
}
.alert-box.blue-box .box {
  background: rgba(51, 184, 243, 0.8);
}
.alert-box.blue-box .box .box-title {
  color: #333;
}
.alert-box.red-box .line {
  background: #e62f31;
}
.alert-box.red-box .box {
  background: rgba(230, 47, 49, 0.8);
}
.alert-box.red-box .box .box-title {
  color: #fff;
}
.alert-box#alert-box-ZD41 .line {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.alert-box#alert-box-ZD45 .line {
  width: 300px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.alert-box#alert-box-ZD123 .line {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
.text-span {
  position: absolute;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  transform: translateX(-50%);
  z-index: 10;
}
.text-span.blue-span {
  background: rgba(51, 184, 243, 0.5);
}
.text-span.yellow-span {
  background: rgba(255, 255, 21, 0.6);
  color: #333;
}
.text-span.red-span {
  background: rgba(230, 47, 49, 0.8);
}
.text-span.purple-span {
  background: rgba(135, 20, 255, 0.6);
}
@media screen and (max-width: 768px) {
  .alert-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .alert-box .box {
    padding: 0.267rem /* 10/37.5 */;
    width: 6.667rem /* 250/37.5 */;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .alert-box .box .box-title {
    font-size: 0.373rem /* 14/37.5 */;
  }
}
/*# sourceMappingURL=hotspot.css.map */