@import "reset.css";
* {
  line-height: 1;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
a,
input,
textarea {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* 使用webkit内核的浏览器 */
  color: #999;
  font-size: 12px;
  font-family: "Helvetica Neue", Calibri, Helvetica, Arial, "Noto Sans SC", "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox版本4-18 */
  color: #999;
  font-size: 12px;
  font-family: "Helvetica Neue", Calibri, Helvetica, Arial, "Noto Sans SC", "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox版本19+ */
  color: #999;
  font-size: 12px;
  font-family: "Helvetica Neue", Calibri, Helvetica, Arial, "Noto Sans SC", "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE浏览器 */
  color: #999;
  font-size: 12px;
  font-family: "Helvetica Neue", Calibri, Helvetica, Arial, "Noto Sans SC", "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
input::placeholder,
textarea::placeholder {
  color: #999;
  font-size: 12px;
  font-family: "Helvetica Neue", Calibri, Helvetica, Arial, "Noto Sans SC", "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
[v-cloak] {
  display: none;
}
.page-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.mobile-show {
  display: none;
}
.pc-show {
  display: block;
}
.main-container {
  margin: 0 auto;
  padding: 0 15%;
  width: 100%;
  clear: both;
  position: relative;
  box-sizing: border-box;
}
.full-page {
  width: 100vw;
  height: 100vh;
}
.bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hidden {
  overflow: hidden;
}
.auto-height {
  overflow-x: hidden;
  overflow-y: auto;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.clear {
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.border-box {
  box-sizing: border-box;
}
.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-35 {
  width: 35%;
}
.w-40 {
  width: 40%;
}
.w-45 {
  width: 45%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.li-decimal {
  padding-left: 1em;
  list-style-type: decimal;
}
.li-disc {
  padding-left: 1em;
  list-style-type: disc;
}
.positon-center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hr {
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
}
.border-bottom {
  border-bottom: 1px solid #e1e1e1;
}
.bg-white {
  background: #fff;
}
.bg-gray {
  background-color: #f7f9fa;
}
/* ==================
          文本
 ==================== */
.text-cut {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text-bold {
  font-weight: bold;
}
.text-underline {
  text-decoration: underline;
}
.text-italic {
  font-style: italic;
}
.text-center {
  text-align: center;
}
.text-content {
  line-height: 1.6;
}
.text-left {
  text-align: left;
}
.text-justify {
  text-align: justify;
}
.text-right {
  text-align: right;
}
.text-white {
  color: #fff;
}
.text-red {
  color: #ff0000;
}
.text-yellow {
  color: #ffff00;
}
.h1 {
  font-size: 30px;
}
.text-xs {
  font-size: 12px;
}
.text-sm {
  font-size: 14px;
}
.text-df {
  font-size: 16px;
}
.text-lg {
  font-size: 18px;
}
.text-xl {
  font-size: 20px;
}
/*  -- 内外边距 -- */
.margin-0 {
  margin: 0;
}
.margin-xs {
  margin: 10px;
}
.margin-sm {
  margin: 20px;
}
.margin {
  margin: 30px;
}
.margin-lg {
  margin: 40px;
}
.margin-xl {
  margin: 50px;
}
.margin-top-xs {
  margin-top: 10px;
}
.margin-top-sm {
  margin-top: 20px;
}
.margin-top {
  margin-top: 30px;
}
.margin-top-lg {
  margin-top: 40px;
}
.margin-top-xl {
  margin-top: 50px;
}
.margin-right-xs {
  margin-right: 10px;
}
.margin-right-sm {
  margin-right: 20px;
}
.margin-right {
  margin-right: 30px;
}
.margin-right-lg {
  margin-right: 40px;
}
.margin-right-xl {
  margin-right: 50px;
}
.margin-bottom-xs {
  margin-bottom: 10px;
}
.margin-bottom-sm {
  margin-bottom: 20px;
}
.margin-bottom {
  margin-bottom: 30px;
}
.margin-bottom-lg {
  margin-bottom: 40px;
}
.margin-bottom-xl {
  margin-bottom: 50px;
}
.margin-left-xs {
  margin-left: 10px;
}
.margin-left-sm {
  margin-left: 20px;
}
.margin-left {
  margin-left: 30px;
}
.margin-left-lg {
  margin-left: 40px;
}
.margin-left-xl {
  margin-left: 50px;
}
.margin-lr-xs {
  margin-left: 10px;
  margin-right: 10px;
}
.margin-lr-sm {
  margin-left: 20px;
  margin-right: 20px;
}
.margin-lr {
  margin-left: 30px;
  margin-right: 30px;
}
.margin-lr-lg {
  margin-left: 40px;
  margin-right: 40px;
}
.margin-lr-xl {
  margin-left: 50px;
  margin-right: 50px;
}
.margin-tb-xs {
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin-tb-sm {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-tb {
  margin-top: 30px;
  margin-bottom: 30px;
}
.margin-tb-lg {
  margin-top: 40px;
  margin-bottom: 40px;
}
.margin-tb-xl {
  margin-top: 50px;
  margin-bottom: 50px;
}
.padding-0 {
  padding: 0;
}
.padding-xs {
  padding: 10px;
}
.padding-sm {
  padding: 20px;
}
.padding {
  padding: 30px;
}
.padding-lg {
  padding: 40px;
}
.padding-xl {
  padding: 50px;
}
.padding-top-xs {
  padding-top: 10px;
}
.padding-top-sm {
  padding-top: 20px;
}
.padding-top {
  padding-top: 30px;
}
.padding-top-lg {
  padding-top: 40px;
}
.padding-top-xl {
  padding-top: 50px;
}
.padding-right-xs {
  padding-right: 10px;
}
.padding-right-sm {
  padding-right: 20px;
}
.padding-right {
  padding-right: 30px;
}
.padding-right-lg {
  padding-right: 40px;
}
.padding-right-xl {
  padding-right: 50px;
}
.padding-bottom-xs {
  padding-bottom: 10px;
}
.padding-bottom-sm {
  padding-bottom: 20px;
}
.padding-bottom {
  padding-bottom: 30px;
}
.padding-bottom-lg {
  padding-bottom: 40px;
}
.padding-bottom-xl {
  padding-bottom: 50px;
}
.padding-left-xs {
  padding-left: 10px;
}
.padding-left-sm {
  padding-left: 20px;
}
.padding-left {
  padding-left: 30px;
}
.padding-left-lg {
  padding-left: 40px;
}
.padding-left-xl {
  padding-left: 50px;
}
.padding-lr-xs {
  padding-left: 10px;
  padding-right: 10px;
}
.padding-lr-sm {
  padding-left: 20px;
  padding-right: 20px;
}
.padding-lr {
  padding-left: 30px;
  padding-right: 30px;
}
.padding-lr-lg {
  padding-left: 40px;
  padding-right: 40px;
}
.padding-lr-xl {
  padding-left: 50px;
  padding-right: 50px;
}
.padding-tb-xs {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-tb-sm {
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-tb {
  padding-top: 30px;
  padding-bottom: 30px;
}
.padding-tb-lg {
  padding-top: 40px;
  padding-bottom: 40px;
}
.padding-tb-xl {
  padding-top: 50px;
  padding-bottom: 50px;
}
/**
flex布局
 */
/* 父元素-flex容器 */
.flex {
  display: box;
  /* OLD - Android 4.4- */
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* 父元素-横向排列（主轴） */
.flex-h {
  display: box;
  /* OLD - Android 4.4- */
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  /* 09版 */
  -webkit-box-orient: horizontal;
  /* 12版 */
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}
.flex-column {
  display: box;
  /* OLD - Android 4.4- */
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  /* 09版 */
  -webkit-box-orient: vertical;
  /* 12版 */
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
/* 父元素-横向换行 */
.flex-hw {
  /* 09版 */
  /*-webkit-box-lines: multiple;*/
  /* 12版 */
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* 父元素-水平居中（主轴是横向才生效） */
.flex-hc {
  /* 09版 */
  -webkit-box-pack: center;
  /* 12版 */
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.flex-ar {
  /* 09版 */
  -webkit-box-pack: space-around;
  /* 12版 */
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
}
.flex-bt {
  /* 09版 */
  -webkit-box-pack: space-between;
  /* 12版 */
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.flex-h-end {
  /* 09版 */
  -webkit-box-pack: flex-end;
  /* 12版 */
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
}
/* 父元素-纵向排列（主轴） */
.flex-v {
  display: box;
  /* OLD - Android 4.4- */
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  /* 09版 */
  -webkit-box-orient: vertical;
  /* 12版 */
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
/* 父元素-纵向换行 */
.flex-vw {
  /* 09版 */
  /*-webkit-box-lines: multiple;*/
  /* 12版 */
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* 父元素-竖直居中（主轴是横向才生效） */
.flex-vc {
  /* 09版 */
  -webkit-box-align: center;
  /* 12版 */
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.flex-v-stretch {
  /* 09版 */
  -webkit-box-align: stretch;
  /* 12版 */
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
}
.flex-v-start {
  /* 09版 */
  -webkit-box-align: flex-start;
  /* 12版 */
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
}
.flex-v-end {
  /* 09版 */
  -webkit-box-align: flex-end;
  /* 12版 */
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
}
.flex-v-baseline {
  /* 09版 */
  -webkit-box-align: baseline;
  /* 12版 */
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -o-align-items: baseline;
  align-items: baseline;
}
/*BUTTON*/
.btn {
  cursor: pointer;
  text-align: center;
}
.btn-normal {
  padding: 5px 15px;
  font-size: 13px;
  line-height: 1;
}
.btn-large {
  padding: 15px 20px;
  font-size: 16px;
  line-height: 1;
}
.btn-primary {
  color: #fff;
  background: rgba(255, 0, 0, 0.3);
  border: 1px solid #ff0000;
}
.btn-solid {
  color: #fff;
  border: 1px solid #fff;
}
.mc {
  display: none;
}
.totast {
  padding: 0.222rem /* 12/54 */ 0.37rem /* 20/54 */;
  font-size: 0.296rem /* 16/54 */;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 101;
}
.modal-container,
.modal-video {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.modal-container .modal-bg,
.modal-video .modal-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.modal-container .modal-body,
.modal-video .modal-body {
  width: 60%;
  position: relative;
  z-index: 2;
}
.modal-container .modal-body.radius,
.modal-video .modal-body.radius {
  border-radius: 10px;
}
.modal-container .modal-body .shadow,
.modal-video .modal-body .shadow {
  -webkit-box-shadow: 0px 0.96px 31.04px 0px #efefef;
  -moz-box-shadow: 0px 0.96px 31.04px 0px #efefef;
  box-shadow: 0px 0.96px 31.04px 0px #efefef;
}
.modal-container .modal-body .modal-close,
.modal-video .modal-body .modal-close {
  width: 30px;
  height: 30px;
  position: absolute;
  border: 2px solid #fff;
  border-radius: 50%;
  top: 20px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
}
.modal-container .modal-body .modal-close .icon-close1,
.modal-video .modal-body .modal-close .icon-close1 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.modal-container .modal-body .modal-content,
.modal-video .modal-body .modal-content {
  position: relative;
  z-index: 1;
}
.modal-container .modal-body .btn-back,
.modal-video .modal-body .btn-back {
  display: inline-block;
  padding: 5px 15px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  border: 1px solid #fff;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.modal-container.modalEwm .modal-body,
.modal-video.modalEwm .modal-body {
  width: 40%;
  height: 40%;
}
.modal-video .modal-body {
  width: 80%;
  height: auto;
}
.scrollbar {
  /*三角箭头的颜色*/
  scrollbar-arrow-color: #999;
  /*滚动条滑块按钮的颜色*/
  scrollbar-face-color: #999;
  /*滚动条整体颜色*/
  scrollbar-highlight-color: #fff;
  /*滚动条阴影*/
  scrollbar-shadow-color: #999;
  /*滚动条轨道颜色*/
  scrollbar-track-color: #fff;
  /*滚动条3d亮色阴影边框的外观颜色——左边和上边的阴影色*/
  scrollbar-3dlight-color: #999;
  /*滚动条3d暗色阴影边框的外观颜色——右边和下边的阴影色*/
  scrollbar-darkshadow-color: #999;
  /*滚动条基准颜色*/
  scrollbar-base-color: #999;
}
/*滚动条整体部分,必须要设置*/
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}
/*滚动条的轨道*/
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.3);
}
/*滚动条的滑块按钮*/
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
}
/*滚动条的上下两端的按钮*/
.scrollbar::-webkit-scrollbar-button {
  height: 0;
  background-color: rgba(255, 255, 255, 0);
}
.btn-back {
  top: 30px;
  left: 30px;
  z-index: 99;
}
.btn-back .icon-back {
  font-size: 30px;
  color: #fff;
}
.left-control {
  cursor: pointer;
  position: absolute;
  top: 1.481rem /* 80/54 */;
  left: 0.556rem /* 30/54 */;
  z-index: 101;
  -webkit-transform: scale(0.65);
  transform: scale(0.65);
}
.left-control .btn {
  margin-bottom: 0.185rem /* 10/54 */;
}
.left-control .btn .icon {
  width: 0.926rem /* 50/54 */;
  height: 0.926rem /* 50/54 */;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.left-control .btn.btn-bgm .icon {
  background-image: url("../images/icon_music_play.png");
}
.left-control .btn.btn-bgm.paused .icon {
  background-image: url("../images/icon_music_close.png");
}
.left-control .btn.btn-jieshuo .icon {
  background-image: url("../images/icon_jieshuo.png");
}
.left-control .btn.btn-jieshuo.paused .icon {
  background-image: url("../images/icon_jieshuo_close.png");
}
.left-control .btn span {
  margin-top: 0.185rem /* 10/54 */;
  font-size: 0.333rem /* 18/54 */;
  color: #fff;
}
.btn-lang {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  z-index: 999;
}
.btn-lang img {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}
.btn-lang span {
  font-size: 14px;
  color: #fff;
}
.btn-msg {
  display: block;
  width: 1.296rem /* 70/54 */;
  height: 1.296rem /* 70/54 */;
  cursor: pointer;
}
@media screen and (max-width: 1366px) {
  .main-container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 1150px) {
  .mobile-show {
    display: block;
  }
  .pc-show {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .mc {
    display: block;
  }
  .mobile-show {
    display: block;
  }
  .pc-show {
    display: none;
  }
  .li-disc {
    padding-left: 2em;
  }
  .li-disc li::marker {
    font-size: 0.533rem /* 20/37.5 */;
  }
  .main-container {
    padding: 0 0.533rem /* 20/37.5 */;
  }
  .margin-0 {
    margin: 0;
  }
  .margin-xs {
    margin: 0.133rem /* 10/75 */;
  }
  .margin-sm {
    margin: 0.267rem /* 20/75 */;
  }
  .margin {
    margin: 0.4rem /* 30/75 */;
  }
  .margin-lg {
    margin: 0.533rem /* 40/75 */;
  }
  .margin-xl {
    margin: 0.667rem /* 50/75 */;
  }
  .margin-top-xs {
    margin-top: 0.133rem /* 10/75 */;
  }
  .margin-top-sm {
    margin-top: 0.267rem /* 20/75 */;
  }
  .margin-top {
    margin-top: 0.4rem /* 30/75 */;
  }
  .margin-top-lg {
    margin-top: 0.533rem /* 40/75 */;
  }
  .margin-top-xl {
    margin-top: 0.667rem /* 50/75 */;
  }
  .margin-right-xs {
    margin-right: 0.133rem /* 10/75 */;
  }
  .margin-right-sm {
    margin-right: 0.267rem /* 20/75 */;
  }
  .margin-right {
    margin-right: 0.4rem /* 30/75 */;
  }
  .margin-right-lg {
    margin-right: 0.533rem /* 40/75 */;
  }
  .margin-right-xl {
    margin-right: 0.667rem /* 50/75 */;
  }
  .margin-bottom-xs {
    margin-bottom: 0.133rem /* 10/75 */;
  }
  .margin-bottom-sm {
    margin-bottom: 0.267rem /* 20/75 */;
  }
  .margin-bottom {
    margin-bottom: 0.4rem /* 30/75 */;
  }
  .margin-bottom-lg {
    margin-bottom: 0.533rem /* 40/75 */;
  }
  .margin-bottom-xl {
    margin-bottom: 0.667rem /* 50/75 */;
  }
  .margin-left-xs {
    margin-left: 0.133rem /* 10/75 */;
  }
  .margin-left-sm {
    margin-left: 0.267rem /* 20/75 */;
  }
  .margin-left {
    margin-left: 0.4rem /* 30/75 */;
  }
  .margin-left-lg {
    margin-left: 0.533rem /* 40/75 */;
  }
  .margin-left-xl {
    margin-left: 0.667rem /* 50/75 */;
  }
  .margin-lr-xs {
    margin-left: 0.133rem /* 10/75 */;
    margin-right: 0.133rem /* 10/75 */;
  }
  .margin-lr-sm {
    margin-left: 0.267rem /* 20/75 */;
    margin-right: 0.267rem /* 20/75 */;
  }
  .margin-lr {
    margin-left: 0.4rem /* 30/75 */;
    margin-right: 0.4rem /* 30/75 */;
  }
  .margin-lr-lg {
    margin-left: 0.533rem /* 40/75 */;
    margin-right: 0.533rem /* 40/75 */;
  }
  .margin-lr-xl {
    margin-left: 0.667rem /* 50/75 */;
    margin-right: 0.667rem /* 50/75 */;
  }
  .margin-tb-xs {
    margin-top: 0.133rem /* 10/75 */;
    margin-bottom: 0.133rem /* 10/75 */;
  }
  .margin-tb-sm {
    margin-top: 0.267rem /* 20/75 */;
    margin-bottom: 0.267rem /* 20/75 */;
  }
  .margin-tb {
    margin-top: 0.4rem /* 30/75 */;
    margin-bottom: 0.4rem /* 30/75 */;
  }
  .margin-tb-lg {
    margin-top: 0.533rem /* 40/75 */;
    margin-bottom: 0.533rem /* 40/75 */;
  }
  .margin-tb-xl {
    margin-top: 0.667rem /* 50/75 */;
    margin-bottom: 0.667rem /* 50/75 */;
  }
  .padding-0 {
    padding: 0;
  }
  .padding-xs {
    padding: 0.133rem /* 10/75 */;
  }
  .padding-sm {
    padding: 0.267rem /* 20/75 */;
  }
  .padding {
    padding: 0.4rem /* 30/75 */;
  }
  .padding-lg {
    padding: 0.533rem /* 40/75 */;
  }
  .padding-xl {
    padding: 0.667rem /* 50/75 */;
  }
  .padding-top-xs {
    padding-top: 0.133rem /* 10/75 */;
  }
  .padding-top-sm {
    padding-top: 0.267rem /* 20/75 */;
  }
  .padding-top {
    padding-top: 0.4rem /* 30/75 */;
  }
  .padding-top-lg {
    padding-top: 0.533rem /* 40/75 */;
  }
  .padding-top-xl {
    padding-top: 0.667rem /* 50/75 */;
  }
  .padding-right-xs {
    padding-right: 0.133rem /* 10/75 */;
  }
  .padding-right-sm {
    padding-right: 0.267rem /* 20/75 */;
  }
  .padding-right {
    padding-right: 0.4rem /* 30/75 */;
  }
  .padding-right-lg {
    padding-right: 0.533rem /* 40/75 */;
  }
  .padding-right-xl {
    padding-right: 0.667rem /* 50/75 */;
  }
  .padding-bottom-xs {
    padding-bottom: 0.133rem /* 10/75 */;
  }
  .padding-bottom-sm {
    padding-bottom: 0.267rem /* 20/75 */;
  }
  .padding-bottom {
    padding-bottom: 0.4rem /* 30/75 */;
  }
  .padding-bottom-lg {
    padding-bottom: 0.533rem /* 40/75 */;
  }
  .padding-bottom-xl {
    padding-bottom: 0.667rem /* 50/75 */;
  }
  .padding-left-xs {
    padding-left: 0.133rem /* 10/75 */;
  }
  .padding-left-sm {
    padding-left: 0.267rem /* 20/75 */;
  }
  .padding-left {
    padding-left: 0.4rem /* 30/75 */;
  }
  .padding-left-lg {
    padding-left: 0.533rem /* 40/75 */;
  }
  .padding-left-xl {
    padding-left: 0.667rem /* 50/75 */;
  }
  .padding-lr-xs {
    padding-left: 0.133rem /* 10/75 */;
    padding-right: 0.133rem /* 10/75 */;
  }
  .padding-lr-sm {
    padding-left: 0.267rem /* 20/75 */;
    padding-right: 0.267rem /* 20/75 */;
  }
  .padding-lr {
    padding-left: 0.4rem /* 30/75 */;
    padding-right: 0.4rem /* 30/75 */;
  }
  .padding-lr-lg {
    padding-left: 0.533rem /* 40/75 */;
    padding-right: 0.533rem /* 40/75 */;
  }
  .padding-lr-xl {
    padding-left: 0.667rem /* 50/75 */;
    padding-right: 0.667rem /* 50/75 */;
  }
  .padding-tb-xs {
    padding-top: 0.133rem /* 10/75 */;
    padding-bottom: 0.133rem /* 10/75 */;
  }
  .padding-tb-sm {
    padding-top: 0.267rem /* 20/75 */;
    padding-bottom: 0.267rem /* 20/75 */;
  }
  .padding-tb {
    padding-top: 0.4rem /* 30/75 */;
    padding-bottom: 0.4rem /* 30/75 */;
  }
  .padding-tb-lg {
    padding-top: 0.533rem /* 40/75 */;
    padding-bottom: 0.533rem /* 40/75 */;
  }
  .padding-tb-xl {
    padding-top: 0.667rem /* 50/75 */;
    padding-bottom: 0.667rem /* 50/75 */;
  }
  .btn-normal span {
    font-size: 0.32rem /* 12/37.5 */;
    padding: 0 0.267rem /* 10/37.5 */;
    line-height: 0.747rem /* 28/37.5 */;
  }
  .modal-container .modal-body .modal-close {
    width: 0.533rem /* 20/37.5 */;
    height: 0.533rem /* 20/37.5 */;
    top: 0.267rem /* 10/37.5 */;
    right: 0.267rem /* 10/37.5 */;
  }
  .modal-container .modal-body .modal-close .icon-close {
    font-size: 0.373rem /* 14/37.5 */;
  }
  .btn-msg {
    width: 1.2rem /* 90/75 */;
    height: 1.2rem /* 90/75 */;
  }
  .modal-service-center .modal-title {
    font-size: 0.533rem /* 20/37.5 */;
  }
  .modal-service-center .p {
    font-size: 0.427rem /* 16/37.5 */;
  }
}
/*# sourceMappingURL=common.css.map */