/**
*animation
*/
@-webkit-keyframes puffOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(2);
  }
}
@keyframes puffOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2);
  }
}
.puffOut {
  -webkit-animation-name: puffOut;
  animation-name: puffOut;
}
@-webkit-keyframes puffIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(2);
  }
  to {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(1);
  }
}
@keyframes puffIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2);
  }
  to {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1);
  }
}
.puffIn {
  -webkit-animation-name: puffIn;
  animation-name: puffIn;
}
@-webkit-keyframes rollInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0) rotateX(-120deg);
    transform: translate3d(0, 100%, 0) rotateX(-120deg);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes rollInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0) rotateX(-120deg);
    transform: translate3d(0, 100%, 0) rotateX(-120deg);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.rollInUp {
  -webkit-animation-name: rollInUp;
  animation-name: rollInUp;
}
@-webkit-keyframes rollInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) rotateX(120deg);
    transform: translate3d(0, -100%, 0) rotateX(120deg);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes rollInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) rotateX(120deg);
    transform: translate3d(0, -100%, 0) rotateX(120deg);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.rollInDown {
  -webkit-animation-name: rollInDown;
  animation-name: rollInDown;
}
@-webkit-keyframes rollInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate(-120deg);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
  }
}
@keyframes rollInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate(-120deg);
    transform: translate3d(-100%, 0, 0) rotate(-120deg);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.rollInRight {
  -webkit-animation-name: rollInRight;
  animation-name: rollInRight;
}
@-webkit-keyframes rollInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate(120deg);
    transform: translate3d(100%, 0, 0) rotate(120deg);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes rollInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate(120deg);
    transform: translate3d(100%, 0, 0) rotate(120deg);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.rollInLeft {
  -webkit-animation-name: rollInLeft;
  animation-name: rollInLeft;
}
@-webkit-keyframes arrowMovement {
  0% {
    opacity: 0;
    transform: translateY(10px) rotate(-45deg);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes arrowMovement {
  0% {
    opacity: 0;
    transform: translateY(10px) rotate(-45deg);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.arrowMovement {
  -webkit-animation-name: arrowMovement;
  animation-name: arrowMovement;
}
@-webkit-keyframes bounceInLeft {
  0%,
  60%,
  75%,
  90%,
  to {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInLeft {
  0%,
  60%,
  75%,
  90%,
  to {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}
@-webkit-keyframes floatUpDown {
  from,
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@keyframes floatUpDown {
  from,
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
.floatUpDown {
  -webkit-animation-name: floatUpDown;
  animation-name: floatUpDown;
}
@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg);
    transform: perspective(400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotateY(-5deg);
    transform: perspective(400px) rotateY(-5deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg);
    transform: perspective(400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotateY(-5deg);
    transform: perspective(400px) rotateY(-5deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}
@-webkit-keyframes scaleDown {
  0% {
    -webkit-transform: scale(1.5);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
.scaleDown {
  -webkit-animation-name: scaleDown;
  animation-name: scaleDown;
}
@-webkit-keyframes moveUpDown {
  0%,
  100% {
    -webkit-transform: translateY(5%);
    -moz-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -o-transform: translateY(5%);
    transform: translateY(5%);
  }
  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes moveUpDown {
  0%,
  100% {
    -webkit-transform: translateY(5%);
    -moz-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -o-transform: translateY(5%);
    transform: translateY(5%);
  }
  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
.moveUpDown {
  -webkit-animation: moveUpDown 2s linear both;
  -o-animation: moveUpDown 2s linear both;
  animation: moveUpDown 2s linear both;
}
@-webkit-keyframes rollingSelf {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rollingSelf {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rollingSelf {
  -webkit-animation: rollingSelf 10s linear;
  -o-animation: rollingSelf 10s linear;
  animation: rollingSelf 10s linear;
}
.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
/*# sourceMappingURL=animation.css.map */